* {
    margin: 0;
    padding: 0;
    font-family: Inter;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #282828;
    padding: 10px;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    font-weight: 14px;
    color: #ebdbb2;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #504945;  
    color: #ebdbb2;
    font-size: 14px;
    cursor: pointer;
    border-radius: 40px;
}

li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    color: #ebdbb2;
}

li::before {
    content: ' ';
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-image: url(assets/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;

}

li.checked {
    color: #a89984;
    text-decoration: line-through;
}


li.checked::before {
    background-image: url(assets/checked.png);
}

span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #ebdbb2;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

span::hover {
    background: #928374;
}

#container {
    width: 100%;
    max-width: 540px;
    background-color: #1d2021;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

#container > h2 {
    color: #ebdbb2;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#container > h2 > img {
    width: 30px;
    margin-left: 10px;
}

#row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #3c3836;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

